@font-face {
  font-family: Hattori Hanzo;
  src: url("../assets/Fonts/Hattori Hanzo/Hattori Hanzo.otf");
}

@font-face {
  font-family: Hattori Hanzo;
  src: url("../assets/Fonts/Hattori Hanzo/Hattori Hanzo Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Geometr212;
  src: url("../assets/Fonts/Geometr/Geometric 212 Book Condensed BT.ttf");
}

@font-face {
  font-family: Geometria;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/Fonts/Geometria/Geometria-Light.woff");
}

@font-face {
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/Fonts/Geometria/Geometria-Medium.woff");
}

@font-face {
  font-family: Geometria;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/Fonts/Geometria/Geometria-Bold.woff");
}

@font-face {
  font-family: Ubuntu;
  src:url("../assets/Fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "PF Centro Slab Pro";
  src: url("../assets/Fonts/PFCentroSlabPro-Regular.ttf");
}
